.list-container {
    width: 72rem;
    background-color: #fff;   
    text-align: center;  
}

a{
    display: block;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.75rem;
    align-items: center;
    color: #101828;
    background: #EAECF0;
    border: #fff 1px solid;
    border-radius: 10px;
    padding: 24px 32px;
    margin-bottom: 1rem;
}

@media(max-width: 73rem) {
    .list-container{
        width:90%;
    }
}