h1{
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;
    color: #101828;
}

p{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #475467;
}

.contact-page-container {
    max-width: 720px;
    border: #475467 solid 1px;
}

